<!DOCTYPE html>
<head>
  <link crossorigin="anonymous" href="../static/Your_Profile_files/frameworks-181ab2bfd39f84244ec09224501ce17957dee40c02a8c0d3e503b9dfb63c2f8e.css" integrity="sha256-GBqyv9OfhCROwJIkUBzheVfe5AwCqMDT5QO537Y8L44=" media="all" rel="stylesheet">
  <link crossorigin="anonymous" href="../static/Your_Profile_files/github-b52c57c07c4915b411746bf84ae6a5d3677b7f35d74105281d365c2ff17ca512.css" integrity="sha256-tSxXwHxJFbQRdGv4Sual02d7fzXXQQUoHTZcL/F8pRI=" media="all" rel="stylesheet">
</head>
<body class="logged-out env-production emoji-size-boost page-responsive min-width-0 f4 site-header-dark">
<div class="container site-footer-container">
  <div class="site-footer" role="contentinfo">
    <ul class="site-footer-links">
      <li>© <span title="0.19891s from github-fe-f06f8d5.cp1-iad.github.net"> Copyright:</span></li>
        <li><a href="Mailto:14300240007@fudan.edu.cn" data-ga-click="Footer, go to terms, text:terms">Tianxiao Hu</a></li>
        <li><a href="Mailto:14300240009@fudan.edu.cn" data-ga-click="Footer, go to privacy, text:privacy">Haohan Zhang</a></li>
        <li><a href="Mailto:15307130385@fudan.edu.cn" data-ga-click="Footer, go to security, text:security">Jingyuan Liu</a></li>
      <span title="0.19891s from github-fe-f06f8d5.cp1-iad.github.net">  Group: Glutton;</span></li> Course Project #1 for Introduction to Database Systems(COMP130010.03)@ Fudan University, 2017 Spring. <span title="0.19891s from github-fe-f06f8d5.cp1-iad.github.net">Professor:</span></li>
      <li><a href="http://www.cs.fudan.edu.cn/?page_id=2439###" data-ga-click="Footer, go to status, text:status">Wei Wang</a>;</li>  
    </ul>
  </div>
</div>
</body>
<!-- end footer -->