<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    

<meta content="origin-when-cross-origin" name="referrer">

  <link crossorigin="anonymous" href="../static/view_history_files/frameworks-d7b19415c108234b91acac0d0c02091c860993c13687a757ee345cc1ecd3a9d1.css" integrity="sha256-17GUFcEII0uRrKwNDAIJHIYJk8E2h6dX7jRcwezTqdE=" media="all" rel="stylesheet">
  <link crossorigin="anonymous" href="../static/view_history_files/github-17f1ca8f007e30b1dc631d50182cbe4540c034b0271be65e2c5075027099a461.css" integrity="sha256-F/HKjwB+MLHcYx1QGCy+RUDANLAnG+ZeLFB1AnCZpGE=" media="all" rel="stylesheet">
  
  
  <link crossorigin="anonymous" href="../static/view_history_files/site-31e734ccd973c9caaf1772ffbdc4d3b16e38f41a7e57c14f99593e2e6a6e3db9.css" integrity="sha256-Mec0zNlzycqvF3L/vcTTsW449Bp+V8FPmVk+LmpuPbk=" media="all" rel="stylesheet">
  

  <meta name="viewport" content="width=device-width">
  
  <title>My Orders</title>
  <link rel="search" type="application/opensearchdescription+xml" href="https://github.com/opensearch.xml" title="GitHub">
  <link rel="fluid-icon" href="https://github.com/fluidicon.png" title="GitHub">
  <meta property="fb:app_id" content="1401488693436528">

    
    <meta content="https://assets-cdn.github.com/images/modules/pricing/opengraph.jpg" property="og:image"><meta content="GitHub" property="og:site_name"><meta content="object" property="og:type"><meta content="Pricing - Git hosting software and tools" property="og:title"><meta content="https://github.com/pricing" property="og:url"><meta content="Free to use for public and open source projects. Work together across unlimited private repositories with a paid plan." property="og:description">

  <link rel="assets" href="https://assets-cdn.github.com/">
  
  <meta name="pjax-timeout" content="1000">
  
  <meta name="request-id" content="C344:2B093:E42DB4:16E9E5A:58F8D77F" data-pjax-transient="">
  

  <meta name="selected-link" value="/pricing" data-pjax-transient="">

  <meta name="google-site-verification" content="KT5gs8h0wvaagLKAVWq8bbeNwnZZK1r1XQysX3xurLU">
<meta name="google-site-verification" content="ZzhVyEFwb7w3e0-uOTltm8Jsck2F5StVihD0exw2fsA">
    <meta name="google-analytics" content="UA-3769691-2">

<meta content="collector.githubapp.com" name="octolytics-host"><meta content="github" name="octolytics-app-id"><meta content="https://collector.githubapp.com/github-external/browser_event" name="octolytics-event-url"><meta content="C344:2B093:E42DB4:16E9E5A:58F8D77F" name="octolytics-dimension-request_id">





  <meta class="js-ga-set" name="dimension1" content="Logged Out">


  

      <meta name="hostname" content="github.com">
  <meta name="user-login" content="">

      <meta name="expected-hostname" content="github.com">
    <meta name="js-proxy-site-detection-payload" content="MjFkMTI2MGVmMWFkZTI1ZDI1NTM1OTdjNTllNzRhYzRlNjIwYmRhNDMzNjQ3OGViMmRmYzlkMTI0ZmViN2E1YXx7InJlbW90ZV9hZGRyZXNzIjoiMTgwLjE2MC4xNTAuMTIwIiwicmVxdWVzdF9pZCI6IkMzNDQ6MkIwOTM6RTQyREI0OjE2RTlFNUE6NThGOEQ3N0YiLCJ0aW1lc3RhbXAiOjE0OTI3MDMxMDQsImhvc3QiOiJnaXRodWIuY29tIn0=">


  <meta name="html-safe-nonce" content="d67ce5760a136dd082a0af1ec5cb0867c70983dc">

  <meta http-equiv="x-pjax-version" content="ea9aacf3eb50d792d31f76980bf3c439">
  

      <meta name="viewport" content="width=device-width">
  <link crossorigin="anonymous" href="../static/view_history_files/site-31e734ccd973c9caaf1772ffbdc4d3b16e38f41a7e57c14f99593e2e6a6e3db9.css" integrity="sha256-Mec0zNlzycqvF3L/vcTTsW449Bp+V8FPmVk+LmpuPbk=" media="all" rel="stylesheet">




  <meta name="browser-stats-url" content="https://api.github.com/_private/browser/stats">

  <meta name="browser-errors-url" content="https://api.github.com/_private/browser/errors">

  <link rel="mask-icon" href="https://assets-cdn.github.com/pinned-octocat.svg" color="#000000">
  <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">

<meta name="theme-color" content="#1e2327">


  <meta name="u2f-support" content="true">

  </head>


<!-- start of header -->
  <body class="logged-out env-production emoji-size-boost page-responsive min-width-0 f4 site-header-dark">
    


  <div class="position-relative js-header-wrapper ">
    <div id="js-pjax-loader-bar" class="pjax-loader-bar"><div class="progress" style="transition: width 0.4s ease 0s; width: 100%;"></div></div>


<div class="header" role="banner" style="background-color: #3498db">
  <div class="container clearfix">
    <a class="header-logo-invertocat" href="#" data-hotkey="g d" aria-label="Homepage" data-ga-click="Header, go to dashboard, icon:logo">
          <img src="../static/img/Glutton.png" aria-hidden="true" class="octicon octicon-mark-github" height="35" version="1.1" viewBox="-10 -10 26 26" width="35" position-relative="-50px -100px"/>
</a>


        


      <ul class="header-nav float-left" role="navigation">
        <li class="header-nav-item selected">
          <a id="navi_home_page" aria-label="Pull requests you created" class="selected  js-selected-navigation-item header-nav-link" data-ga-click="Header, click, Nav menu - item:pulls context:user" data-hotkey="g p" data-selected-links="/pulls /pulls/assigned /pulls/mentioned /pulls">
            Home
</a>        </li>
        <li class="header-nav-item">
          <a id="navi_my_profile" aria-label="Issues you created" class="js-selected-navigation-item header-nav-link" data-ga-click="Header, click, Nav menu - item:issues context:user" data-hotkey="g i" data-selected-links="/issues /issues/assigned /issues/mentioned /issues">
            Profile
</a>        </li>
          <li class="header-nav-item">
            <a class="header-nav-link" id="navi_my_dishes" data-ga-click="Header, go to gist, text:gist" >Dishes</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" id="navi_my_orders" data-ga-click="Header, go to gist, text:gist" style="color: #222">Orders</a>
          </li>
      </ul>

    

<ul class="header-nav user-nav float-right" id="user-links">
<il>

<div class="header-search   js-site-search" role="search">
  <!-- '"` --><!-- </textarea></xmp> --><form accept-charset="UTF-8" action="https://github.com/search" class="js-site-search-form" data-unscoped-search-url="/search" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
    <label class="form-control header-search-wrapper js-chromeless-input-container">
        <a href="https://github.com/settings/profile" class="header-search-scope no-underline">/settings/profile</a>
      <input type="text" class="form-control header-search-input js-site-search-focus " data-hotkey="s" name="q_navi" value="" placeholder="Search Glutton" aria-label="Search Glutton" data-unscoped-placeholder="Search Glutton" data-scoped-placeholder="Search" autocapitalize="off">
        
    </label>
</form></div>
</il>
<li class="header-nav-item selected">
          <a id="navi_search_home_page" aria-label="Pull requests you created" class="selected  js-selected-navigation-item header-nav-link" data-ga-click="Header, click, Nav menu - item:pulls context:user" data-hotkey="g p" data-selected-links="/pulls /pulls/assigned /pulls/mentioned /pulls" >
            Search
</a>        </li>
        <li class="header-nav-item selected">
          <a href="front_page" id="navi_home_page" aria-label="Pull requests you created" class="selected  js-selected-navigation-item header-nav-link" data-ga-click="Header, click, Nav menu - item:pulls context:user" data-hotkey="g p" data-selected-links="/pulls /pulls/assigned /pulls/mentioned /pulls" >
            Sign Out
</a>        </li>
</ul>





    <!-- '"` --><!-- </textarea></xmp> --><form accept-charset="UTF-8" action="https://github.com/logout" class="sr-only right-0" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="m4w41p/fLCKxapdLxY+adhRWzqVnnFOQY7PnRTD3aL9GALLyxofytE4DfMgivkXIzx0w25VQ2QPMGuK5mf63aA=="></div>
      <button type="submit" class="dropdown-item dropdown-signout" data-ga-click="Header, sign out, icon:logout">
        Sign out
      </button>
</form>  </div>
</div>


      

  </div>


  <!-- end of header -->

  <div role="main">
        
<div class="featurette featurette-single bg-shade-gradient bg-pricing">
  <div class="container-responsive">
    <div class="Details js-details-container Details currency-container">
      <h1 class="featurette-heading alt-h1 text-center">See how much you've sold!</h1>

      <div class="featurette-lead featurette-lead-center mb-6">
        <p class="alt-lead text-center text-gray mb-6 mx-auto">Add more dishes can earn you more visitors! :)</p>
      </div>

      <div class="plans-cards pt-3 my-3" id="main_body">
<p class="alt-lead text-center text-gray mb-6 mx-auto">You have no orders.</p>
</div>

      </div>


    </div>

    

  </div>
</div>

<hr>

  <div class="modal-backdrop js-touch-events"></div>

  </div>

  <!-- start footer -->

<div class="container site-footer-container">
  <div class="site-footer" role="contentinfo">
    <ul class="site-footer-links">
      <li>© <span title="0.19891s from github-fe-f06f8d5.cp1-iad.github.net"> Copyright:</span></li>
        <li><a href="Mailto:14300240007@fudan.edu.cn" data-ga-click="Footer, go to terms, text:terms">Tianxiao Hu</a></li>
        <li><a data-ga-click="Footer, go to privacy, text:privacy">Haohan Zhang</a></li>
        <li><a data-ga-click="Footer, go to security, text:security">Jingyuan Liu</a></li>
      <span title="0.19891s from github-fe-f06f8d5.cp1-iad.github.net">  Group: Glutton;</span></li> Course Project #1 for Introduction to Database Systems(COMP130010.03)@ Fudan University, 2017 Spring. <span title="0.19891s from github-fe-f06f8d5.cp1-iad.github.net">Professor:</span></li>
      <li><a href="http://www.cs.fudan.edu.cn/?page_id=2439###" data-ga-click="Footer, go to status, text:status">Wei Wang</a>;</li>  
    </ul>
  </div>
</div>

<!-- end footer -->


  

  <div id="ajax-error-message" class="ajax-error-message flash flash-error">
    <svg aria-hidden="true" class="octicon octicon-alert" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M8.865 1.52c-.18-.31-.51-.5-.87-.5s-.69.19-.87.5L.275 13.5c-.18.31-.18.69 0 1 .19.31.52.5.87.5h13.7c.36 0 .69-.19.86-.5.17-.31.18-.69.01-1L8.865 1.52zM8.995 13h-2v-2h2v2zm0-3h-2V6h2v4z"></path></svg>
    <button type="button" class="flash-close js-flash-close js-ajax-error-dismiss" aria-label="Dismiss error">
      <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path></svg>
    </button>
    You can't perform that action at this time.
  </div>


    <script crossorigin="anonymous" integrity="sha256-ikMY/+oJoM24IUt2zykmufagztMYoxe+1BnbGSFMaQ0=" src="../static/view_history_files/compat-8a4318ffea09a0cdb8214b76cf2926b9f6a0ced318a317bed419db19214c690d.js"></script>
    <script crossorigin="anonymous" integrity="sha256-bRCeda2EcbpBUIJybADDX7kpzquXUIJJKDXxHsqMB9k=" src="../static/view_history_files/frameworks-6d109e75ad8471ba415082726c00c35fb929ceab975082492835f11eca8c07d9.js"></script>
    <script async="async" crossorigin="anonymous" integrity="sha256-cAD7i5UE1qGJqb5QSGuw4DxjDQQQQN3+6GrnkYT++TM=" src="../static/view_history_files/github-7000fb8b9504d6a189a9be50486bb0e03c630d041040ddfee86ae79184fef933.js"></script>
    
    
    
    
  <div class="js-stale-session-flash stale-session-flash flash flash-warn flash-banner d-none">
    <svg aria-hidden="true" class="octicon octicon-alert" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M8.865 1.52c-.18-.31-.51-.5-.87-.5s-.69.19-.87.5L.275 13.5c-.18.31-.18.69 0 1 .19.31.52.5.87.5h13.7c.36 0 .69-.19.86-.5.17-.31.18-.69.01-1L8.865 1.52zM8.995 13h-2v-2h2v2zm0-3h-2V6h2v4z"></path></svg>
    <span class="signed-in-tab-flash">You signed in with another tab or window. <a href="https://github.com/pricing">Reload</a> to refresh your session.</span>
    <span class="signed-out-tab-flash">You signed out in another tab or window. <a href="https://github.com/pricing">Reload</a> to refresh your session.</span>
  </div>
  <div class="facebox" id="facebox" style="display:none;">
  <div class="facebox-popup">
    <div class="facebox-content" role="dialog" aria-labelledby="facebox-header" aria-describedby="facebox-description">
    </div>
    <button type="button" class="facebox-close js-facebox-close" aria-label="Close modal">
      <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path></svg>
    </button>
  </div>
</div>

<script src="../static/js/jquery-3.1.1.min.js"></script>
<script src="../static/js/restaurant_order_history.js"></script>

<!-- EDIT BLOCK : START-->

<div id="faceboxdiv" class="column" style="display: none">
<div class="Subhead mt-0 mb-0">
  <h2 id="edit_info" class="Subhead-heading">Comment of this order</h2>
</div>
        <dl class="form-group">
          <dt><label>The user have commented:</label></dt>
          <dd><p class="form-control" id="dish_name" size="30" onblur="set_comment(this)" placeholder="Write your comment here!" type="text" value=""></p></dd>
        </dl>
      <!-- <p><button onclick="submit_comment()" class="btn" id="change_dish">Submit comment</button></p> -->
</div>

<!-- EDIT BLOCK : END-->

</body></html>